<div class="login-card">
  <div class="top-half">

    <div class="form-group">
      <div class="custom-dropdown">
        <div class="dropdown-label">{{selectedRole || 'Select role'}}</div>
        <div class="dropdown-arrow"></div>
        <select id="role" [(ngModel)]="selectedRole" (ngModelChange)="onRoleSelect()" required>
          <option value="Student">Student</option>
          <option value="Team Leader">Team Leader</option>
          <option value="Mentor">Mentor</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="custom-dropdown">
        <div class="dropdown-label">{{selectedName || 'Select name'}}</div>
        <div class="dropdown-arrow"></div>
        <select id="name" [(ngModel)]="selectedName" (ngModelChange)="selectedName=$event" required>
          <option *ngFor="let name of names" [value]="name">{{ name }}</option>
        </select>
      </div>
    </div>

  </div>
  <div class="bottom-half">
    <div class="button-container">
      <button class="login-button" (click)="login()">Login</button>
    </div>
  </div>

</div>
