.row-card {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2px;
}

.status {
  width: 100px;
  height: 40px;
  background-color: #BAE8AC;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.row-card button {
  background-color: #1F70C1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 30px;
}

.row-card button:hover {
  transform: rotate(360deg);
  transform: scale(1.06)}

.session{
  margin-left: 30px;
}
