.container{
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  background: #D9D9D9;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.student-card{
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 31px;
  margin-right: 31px;
  max-width: 250px;
}

