<div class="container">

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-student-card></app-student-card>
  </div>

  <div class="student-card">
    <app-addteammember-button></app-addteammember-button>
  </div>
</div>

