<div class="container">

  <div class="table-header">
    <div class="session">Session</div>
    <div class="date">Date</div>
    <div class="status">Status</div>
    <div class="grade">Grade</div>
    <div class="feedback">Feedback</div>
  </div>

  <div class="table-row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>
  <div class="table row">
    <app-student-analytics-row></app-student-analytics-row>
  </div>

</div>
